
html {
  scroll-behavior: smooth;
  scroll-padding-top: 2%;
  background-color: #2a4d69
}

body {
  background-color: #2a4d69;
}

// * ------------ Navbar ------------

.navbar {
  height: 8%;
}

a.navbar-item {
  border: 1px solid #2a4d69;
}

a.navbar-item:hover {
  border: 1px solid #35a79c;
  background-color: #2a4d69 !important;
}

// * ------------ Carousel ------------

// .alice-carousel__prev-btn [data-area]::after, .alice-carousel__next-btn [data-area]::after {
//   font-size: 40px;
//   color: white;
// }

// .alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active {
//   background-color: #35a79c !important;
// }

// .alice-carousel__dots {
//   margin: 0px !important;
// }

.carousel-dots {
  margin: 0 0 3% 0 !important;
}

.carousel-dots li.carousel-dots-active button:before {
  color: white !important;
  opacity: 1 !important;
}

.carousel-prev.block, .carousel-next.block {
  margin: 3%;
}

.carousel-button {
  border: none;
  color: white;
  outline: none;
  background: none;
  cursor: pointer;

  span {
    font-size: 50px;
  }
}

// * ------------ About/Skills ------------

#about-skills {
  display: flex;
}

// * ------------ About ------------

#about {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  // background-color:#35a79c;
  margin: 6%;

  img {
    max-width: 300px;
    border-radius: 6px;
    // filter: grayscale(100%);
    margin: 6%;
  }

  .blurb {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 6%;
  }
}



// * ------------ Skills ------------

#skills {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 3px solid #35a79c;
  border-radius: 6px;
  margin: 6%;

  .current {
    padding: 10%;
    width: 100%;

    h2 {
      color: white;
      text-align: center;
      margin-bottom: 10%;
      font-size: 28px;
      text-decoration: underline;
    }
  }
  
  .center {
    height: 0px;
    border: 1px solid #35a79c;
    width: 40%;
  }

  .learning {
    padding: 10%;
    width: 100%;

    h2 {
      color: white;
      text-align: center;
      margin-bottom: 10%;
      font-size: 28px;
      text-decoration: underline;
    }
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 50px;
      color: #35a79c;
    }
    
    svg {
      font-size: 50px;
      color: #35a79c;
    }   

    .name {
      position: absolute;
      font-weight: bold;
      font-size: 20px;
      opacity: 0;
      max-width: 100%;
      text-align: center;
      color: #e7eff6;
    }
  }

  .column:hover {
    i {
      color: #4a4a4a;
    }

    svg {
      color: #4a4a4a;
    }

    .name {
      opacity: 1;
    }
  }
}


// * ------------ Projects ------------

// #projects {
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

#project1, #project2, #project3, #project4, #projectX {

  margin: 5% 10%;
  
  .box {
    background-color: #2a4d69;
    border: 3px solid #35a79c;
  }

  .links {
    margin: 4% 0%;
  }

  a {
    color: #e7eff6;
    text-decoration: none;
  }

  .screen_shots {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 50px;
    }

    svg {
      font-size: 50px;
    }   

    .name {
      position: absolute;
      font-weight: bold;
      font-size: 20px;
      opacity: 0;
      max-width: 100%;
      text-align: center;
      color: #e7eff6;
    }
  }

  .column:hover {
    i {
      color: #009688;
    }
    svg { 
      color: #009688;
    }
    .name {
      opacity: 1;
    }
  }
}


// * ------------ Contact ------------

#contact {

  a {
    color: #e7eff6;
  }
  
  .column {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 50px;
    }

    svg {
      font-size: 50px;
    }   

    .name {
      position: absolute;
      font-weight: bold;
      font-size: 20px;
      opacity: 0;
      max-width: 100%;
      text-align: center;
      color: #2a4d69;
    }
  }

  .column:hover {
    i {
      color: #009688;
    }
    svg { 
      color: #009688;
    }
    .name {
      opacity: 1;
    }
  }
}


// * ------------ Media Query ------------

@media only screen and (max-width: 750px) {
  #about-skills {
    flex-direction: column;
    align-items: center;
    
    #about {
      width: 100%;
    }
  
    #skills {
      width: 100%;
    }
  }

  #project1, #project2, #project3, #project4, #projectX {
    margin: 6%;
  }

  .carousel-prev.block, .carousel-next.block {
    display: none;
  }
}